*{
    box-sizing: border-box;
}
.naslov{
    text-align: center;
}

.top{
    overflow: hidden;
    background-color: grey;
    width: 100%;
}

.top li{
    text-decoration: none;
    float: left;
    padding: 4px;
    display: block;
}

a{
    text-decoration: none;
    color: white;
}

.intro{
    margin: 0 auto;
    display: flex;
    max-width: 80%;
}
 img{
     display: block;
     width: 100%;
     height: auto;
 }

 .style{
     margin: 3px;
     padding: 3px;
 }

 @media screen and(max-width: 350px){
    .top li{
        width: 100%;
        float: none;
        text-align: center;
    }