.div_1{
    position: relative;
    top: 50px;
    left: 100px;
    margin: 0px 0px 25px;
}

.div_2{
    position: absolute;
    right: 10px;
    top: 15px;
}

.div_3{
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.div_4{
    position: fixed;
    bottom: 5px;
    right: 5px;
}